{{#each this.hits}}
    <div class='photo-card'><a href='{{largeImageURL}}' class='gallery-item'>
        <img src='{{webformatURL}}' alt='{{tags}}' loading='lazy' width="340"/>
        </a>
        <ul class='info'>
            <li class='info-item'>
                <b class='info-title'>Likes</b>                
                <p class='info-after-title'>{{likes}}</p>
            </li>
            <li class='info-item'>
                <b class='info-title'>Views</b>
                <p class='info-after-title'>{{views}}</p>
            </li>
            <li class='info-item'>
                <b class='info-title'>Comments</b>
                <p class='info-after-title'>{{comments}}</p>
            </li>
            <li class='info-item'>
                <b class='info-title'>Downloads</b>
                <p class='info-after-title'>{{downloads}}</p>
            </li>
        </ul>    
    </div>

{{/each}}